@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcce00;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(252, 206, 0, 0.5);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  font-family: "Bebas Neue";
  color: #23b73b;
  font-size: 50px;
  filter: drop-shadow(2px 2px black);
}
.title p {
  font-family: "Slackey";
  font-size: 20px;
  font-weight: 600;
  filter: drop-shadow(1px 1px black);
  color: #f42b26;
}

.nav-btns {
  display: flex;
  gap: 50px;
  font-weight: 600;
  font-family: "Coming Soon";
}
.nav-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-title img {
  width: 25px;
  height: 25px;
  filter: drop-shadow(1px 1px 1px black);
}
.nav-links {
  display: flex;
  gap: 50px;
  padding: 2%;
}

.nav-link {
  font-size: 25px;
  color: black;
  filter: drop-shadow(2px 2px 1px grey);
  font-family: "Bangers";
  text-decoration: none;
}

.nav-link:hover {
  color: #23b73b;
  filter: drop-shadow(2px 2px 1px #f42b26);
  transition: 0.2s ease-in-out;
}
.nav-link:active {
  color: #f42b26;
  filter: drop-shadow(2px 2px 1px #23b73b);
  transition: 0.3s ease-in-out;
}
/* Submenu base style (hidden) */
.nav-item .submenu {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  position: absolute;
  background: #f42b26;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 0;
  transition: all 0.3s ease;
}
.mobile-submenu {
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  background-color: #f42b26;
  text-align: center;
  border-radius: 5px;
  gap: 7px;
}
.mobile-sub-link {
  text-decoration: none;
  color: #fcce00;
  filter: drop-shadow(1px 1px black);
}
.mobile-menu:active {
  color: #23b73b;
  filter: drop-shadow(2px 2px 1px #f42b26);
  transition: 0.3s ease-in-out;
}
.nav-item.has-submenu:hover {
  cursor: pointer;
}

.nav-item.has-submenu:hover .submenu {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  padding: 10px;
}

.submenu-link {
  display: block;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fcce00;
  font-family: "bangers";
  filter: drop-shadow(1px 1px black);
}

.submenu-link:hover {
  background: black;
  border-radius: 4px;
  filter: drop-shadow(1px 1px #f42b26);
}

.submenu-link:active {
  background: #23b73b;
  color: #f42b26;
  border-radius: 4px;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  gap: 6px;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 2px;

  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.mobile-menu {
  position: absolute;
  top: 40px;
  left: -100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  gap: 24px;
  font-family: "Bangers";
  margin-top: 20px;
  transition: left 0.4s ease;
  background: black;
    font-size: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 12px 12px;
}

.mobile-menu.open {
  left: 0;
}
.mobile-link {
  color: #ffc300;
    font-size: 25px;
  filter: drop-shadow(1px 1px #f42b26);
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-link:hover {
  color: #23b73b;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .nav-title h1 {
    font-size: 30px;
  }
  .nav-title img {
    width: 18px;
    height: 18px;
  }
  .title p {
    font-size: 12px;
  }
}
.first-body {
  height: 500px;
  background-image: url("./pictures/burger.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 2%;
  position: relative;
  filter: drop-shadow(2px 2px 2px black);
}

.intro h1 {
  font-family: "Sedgwick Ave Display";
  position: absolute;
  right: 0;
  text-align: center;
  width: 40%;
  font-size: 95px;
  font-weight: 600;
  color: #23b73b;
  filter: drop-shadow(3px 1px 1px #fcce00);
  animation: fade 2.5s forwards;
}
.third-body {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.third-body h1 {
  font-family: "Slackey";
  font-size: 70px;
  font-weight: 500;
  color: #23b73b;
  text-decoration: wavy;
  margin-bottom: 2%;
  filter: drop-shadow(2px 2px rgba(244, 43, 38));
}
.second-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-title p {
  font-family: "Baumans";
  font-size: 27px;
  font-weight: 600;
  color: #001;
  filter: drop-shadow(1px 1px #f42b26);
}
.second-title img {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  filter: brightness(50%);
  filter: drop-shadow(2px 2px 2px black);
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.menu-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  border-radius: 6px;
  padding: 1%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.section-title h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Lobster";
  margin-top: 20px;
  color: #f42b26;
  filter: drop-shadow(1px 1px #fcce00);
}
.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.menu-title h2 {
  font-family: "bebas neue";
  font-size: 45px;
  color: #f42b26;
  filter: drop-shadow(1px 1px #fcce00);
  margin-top: 1%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.menu-para {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.menu-info p {
  color: #fcce00;
  font-family: "Baumans";
  font-size: 20px;
  font-weight: 600;
  display: flex;
  filter: drop-shadow(1px 1px #f42b26);
}
.menu-info hr {
  width: 100%;
  height: 2%;
  margin-top: 1%;
}
.menu-hot {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1%;
}
.menu-hot img {
  width: 30px;
  height: 30px;
}
.third-body h3 {
  margin-bottom: 1%;
  font-family: "lobster";
  font-size: 40px;
  color: white;
  filter: drop-shadow(1px 1px rgba(244, 43, 38));
}

.menu-extra h4 {
  font-family: "slackey";
  color: #23b73b;
  font-size: 70px;
  filter: drop-shadow(2px 2px rgba(244, 43, 38));
}
.menu-extra {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}

.extra-all-info {
  background-color: black;
  margin-bottom: 5%;
  border-radius: 6px;
  color: #f42b26;
  filter: drop-shadow(1px 1px black);
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-left: 25%;
}
.extra-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.halal{
  display: flex;
  align-items: center;
  width: 40%;
  margin-right:60px;
}
.halal img{
  width: 30px;
  height: 30px;
}
.extra-title h2 {
  font-family: "bebas neue";
  font-size: 33px;
  width: 50%;
  filter: drop-shadow(1px 1px #fcce00);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.extra-title p {
  font-family: "Baumans";
  font-size: 20px;
  color: #fcce00;
  font-weight: 600;
  display: flex;
  filter: drop-shadow(1px 1px #f42b26);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.top-btn-func {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  background-color: red;
}

.top-btn {
  border-radius: 100px;
  background-color: #f42b26;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 5px;
  box-shadow: 2px 2px 0px #222222;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}
.top-btn:hover {
  background-color: #23b73b;
  box-shadow: 2px 2px 1px black;
  transition: 0.2s ease-in-out;
}
.top-btn:active {
  transform: translateY(4px);
  background-color: white;
  box-shadow: none;
}
.location {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
iframe {
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px black);
}
.third-body h5 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  filter: drop-shadow(1px 1px rgba(244, 43, 38));
  font-family: "coming soon";
}
.loc-pic {
  display: flex;
  align-items: center;
  gap: 5px;
}
.loc-pic img {
  width: 70px;
  height: 70px;
}
.contact-body {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 5%;
  color: black;
  justify-content: center;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}
.contact-body h1 {
  font-family: "slackey";
  font-size: 70px;
  font-weight: 600;
  color: #23b73b;
  margin-bottom: 2%;
  filter: drop-shadow(2px 2px rgba(244, 43, 38));
}
.contact-body p {
  font-size: 23px;
  font-weight: 600;
  font-family: "coming soon";
}
.contact-whats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-whats a {
  text-decoration: none;
  color: #f42b26;
  padding: 5px;
}
.contact-whats a:hover {
  color: #23b73b;
  transform: scale(1.2);
  border-radius: 15px;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
.contact-whats a:active {
  color: grey;
  filter: drop-shadow(2px 2px black);
}
.footer {
  color: black;
  font-family: "poppins";
  display: flex;
  font-size: 10px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.nav-title2 {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.nav-title2 img {
  width: 25px;
  height: 25px;
  /* filter: drop-shadow(1px 1px 1px black); */
}
.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 h1 {
  font-family: "Bebas Neue";
  color: #23b73b;
  font-size: 40px;
  filter: drop-shadow(2px 2px black);
}
.title2 p {
  font-family: "Slackey";
  font-size: 15px;
  filter: drop-shadow(1px 1px black);
  color: #f42b26;
}

/*Responsive Section*/
@media (max-width: 999px) {
  .first-body {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .intro h1 {
    position: relative;
    display: flex;
    left: 5px;
    font-size: 70px;
    width: 100%;
    color: #f42b26;
    margin-top: 50px;
    filter: drop-shadow(2px 2px #23b73b);
  }
  .about-section {
    display: none;
  }
}

@media (max-width: 600px) {
  .third-body h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .second-title p {
    font-size: 15px;
    font-weight: 900;
  }
  .third-body h1 {
    font-size: 30px;
  }
  .third-body h3 {
    font-size: 25px;
    text-align: center;
  }
  .menu-title h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 1%;
  }
  .menu-info p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  .menu-extra h4 {
    font-size: 30px;
  }
  .menu-hot img {
    width: 15px;
    height: 15px;
  }
  .extra-all-info {
    width: 80%;
    margin: 0;
    margin-left: 40px;
  }
  .extra-title h2 {
    font-size: 20px;
    padding: 2%;
  }
  .extra-title p {
    font-size: 13px;
    font-weight: 600;
  }
  .loc-pic img {
    width: 40px;
    height: 40px;
  }
  .third-body h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .contact-body h1 {
    font-size: 30px;
    text-align: center;
  }
  .contact-whats p {
    font-size: 18px;
    text-align: center;
  }
  .halal{
    width: 25%;
    gap: 15px;
  }
  .footer p {
    font-size: 5px;
  }
}
